files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDWTCCAkECFE02BrQPRmzRQ+z+G7LCt+DykONIMA0GCSqGSIb3DQEBCwUAMGkx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQxIjAgBgkqhkiG9w0BCQEWE3RlYW1OSU0yM0Bn
      bWFpbC5jb20wHhcNMjMwMzI4MTgwNDI1WhcNMjQwMzI3MTgwNDI1WjBpMQswCQYD
      VQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UECgwYSW50ZXJuZXQg
      V2lkZ2l0cyBQdHkgTHRkMSIwIAYJKoZIhvcNAQkBFhN0ZWFtTklNMjNAZ21haWwu
      Y29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmtdr9iNVsF4zl0O9
      fHqP1sXoU578vP9JhvvUksUPN37Ra8KiOBNMFi8W/RQ1MWcJhlwxHimJyrTHxYPs
      JEeDjBYNE90s9y9k0fEvgGkMPYxo1PtGAY6zpbbHfgoNevMyCPvCxB7x45km5BJD
      UBBQ/tZJ1X/+NjQD5+4o8wskYWWEfR77SypkcB7h4MbE39ybv3P1vPXdoPEpwXL5
      L/PqZm9Hg/OLpos1AV/n7UG2WawY6eVxUyPQb3AejxATWM7zKX80/oXxSrFD8ukJ
      ZE+928rab5g13wysdyio+McL69NptfehB0uJHbaTXtgc9FFKCQGZmCBAHGnt4njK
      IicgpwIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQApYdNBl9aAnW/xwaZJYcTXc/Te
      BPN7mCgeYFZUEMGkuHiepDTHNVqZ7QtQBrX39Fchgelsavv+A+43XyVbQK11sfZI
      qeWbTnyVGlw+jQXsiGfb/kEkD/NTePJbZILXkVH/Dhwc8WUuNZnC8+6zp1iPzWPA
      waYOe43d3SBFz4CIE4OtSk1d+hJM0y3eZ5SBs2uMj1BhtQPuZULC7WjTnD8P++O8
      Q5aG8dmghVTnpPL3BGPvP5uAu8ZGQkDinPfcy80dtnH9wBfIYwbHC9DNGnNAOjGQ
      eRcKhqozfNrzMwCvSeDD8tWLxTmXNOnJydCNpfNqPFsFXyNdR4go1LruI+bY
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpgIBAAKCAQEAmtdr9iNVsF4zl0O9fHqP1sXoU578vP9JhvvUksUPN37Ra8Ki
      OBNMFi8W/RQ1MWcJhlwxHimJyrTHxYPsJEeDjBYNE90s9y9k0fEvgGkMPYxo1PtG
      AY6zpbbHfgoNevMyCPvCxB7x45km5BJDUBBQ/tZJ1X/+NjQD5+4o8wskYWWEfR77
      SypkcB7h4MbE39ybv3P1vPXdoPEpwXL5L/PqZm9Hg/OLpos1AV/n7UG2WawY6eVx
      UyPQb3AejxATWM7zKX80/oXxSrFD8ukJZE+928rab5g13wysdyio+McL69Nptfeh
      B0uJHbaTXtgc9FFKCQGZmCBAHGnt4njKIicgpwIDAQABAoIBAQCS9uJOpW0AT/jR
      mobv7fg2FnOTYrRpwjgMeVtizszJlIG6sOp9JLuz1pAQNyzhrfVZZIluImjZT8rI
      ypTIPmQ6Avf4oZW7K22a4jt+urXWeT1K4Q+qDMKwB5LDK1FuIAOeiS5sLR7TMhq6
      oCbpiAMITWWY0bn7wlTuvpp5TFsEYPdTpCvwF2nuW+WPKcyuNZbUQDrKvusxqIZ+
      mggZ3uU9L3eLoZ6uQKwBNdi+z7UPMRHmN0wSatJ7q119KG36nK4C1LHKjfWCjn43
      KEoFiNlhHOF1VeBMYExlSTZ1l0bbX7GlxM5MuzaDkPGgOIX0DWWvHB9ODfJmRDVG
      6NFGhUxhAoGBAMxmj4FS+YcZg+dXuHELFb4kjEuHjC9qnhbhVQXWZuNvXN+D+6YR
      C8cfRvT3S3s9PDCm6Cagz3fCBRSaCEfTfh8T67A9E9rGQJcUJmVyCtuH0p2YiTNm
      DDIR+WaIHVCD5mlwnN243HvXINHGCyAc5i7QylwBLVFVKPPlOnzv7QLXAoGBAMHu
      FxLMtFcQqHhD8SLvJv4YDf87ZvKyYpBmQNCPuEkOeFVPi8vaojE5d5x2H17b9lh+
      8J93RYwZakKpy1Y/b1rnWf0fUHat6JIUTkW1hRZOwiDJnJpQqr1ZTfqmLLD8n2ob
      2fVCQPXyDstCcHPoAsg7PdPwPj/qaRe9d+K6veaxAoGBAIgjXz1hiHTlF6eEE4Kn
      QWoNaav8se/68SSIHFrw/EJLL+5nN7rZ66BKQrZx50JD/MzivgjMXqKDBWM9XHqK
      cJw+ZmJRq+Gw3eBCOXijxnuFMVBqAifLth+7PQN/cRbpYxOjP7eloqSRGnjdkRdo
      aB+STNWOqyJauBYJ/TStkIytAoGBAKvLyILt9wB+EFBiF9cTtx43nwawz9VGM8yp
      2Ncpyl5lxDIHAte3OiGTQCPJ/KZjA8uHwI/z8BdZWGnv0uL31STZeD2lJPnNvA7U
      kDZuxJRrdsvm7qVBus98snjOBx9O28X7IE2FwNhf870agVYcfYJ2AKKk2/BxL2JJ
      hU/EkIAxAoGBAK2UXxu49AwV7/TT0TW6ZPMMf3odkkiTtf/5eUzAEojh5GKabh2W
      tAhusH15Nq0yDXH0MBUNlaHvjD91ka8GE8TFlk304gNtT2tTQTGcEGGrWFjzPkxd
      fPCzPUBvvN2IZS8n7piUW5a6weyw2LviMHKZP5VxChGDxDZK5hKOBpX1
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart