header {
    text-align: center;
}

img {
    height: 250px;
    width: auto;
}

.login {
    float: right;
    padding-top: 3em;
    padding-right: 3em;
}

.login a {
    background-color: green;
    color: white;
    border-radius: 1em;
    padding: 0.5em;
    text-decoration: none;
}

.login a:hover {
    color: black;
    text-decoration: none;
}

.button {
    text-decoration: none;
}

.daily, .by-id {
    padding-left: 3em;
}

.select-date, .all-time {
    padding-right: 3em;
}

body {
    background-image: url("/images/green-pattern.jpg");
}

a {
    font-weight: 800;
}

a:hover {
    color: black;
    text-decoration: none;
}