header {
    text-align: center;
}

img {
    height: 250px;
    width: auto;
}

.login {
    float: right;
    padding-top: 3em;
    padding-right: 3em;
}

.login a {
    background-color: green;
    color: white;
    border-radius: 1em;
    padding: 0.5em;
    text-decoration: none;
}

.login a:hover {
    color: black;
    text-decoration: none;
}

.button {
    text-decoration: none;
}

.daily {
    padding-left: 3em;
}

.select-date {
    padding-right: 3em;
}